.page7-container{
    background:url("./pinkpaper.jpeg");
    background-size: cover;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items:start;
    text-align: center;
    padding: 20px;
    overflow: hidden;
    padding-left: 60px;
}
.whatwefocus-btn{
    margin-top: 20px;
    width: 160px;
    height: 38px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    padding: 0 18px 0 18px;
    box-shadow: 0 2px 4px #00000040; 
  }
  .whatwefocus-btn:hover{
    background-color: #FE7272;
    box-shadow: 0 2px 4px #00000040;
  }
  .page7-title{
    margin-top: 20px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 100px;
  }
  .page7-des{
    margin-top: 20px;
    width: 1050px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 34px;
    text-align: left;
  }
.page7-content{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.page7-line{
    width: 730px;
    height: 1px;
    background-color: #E8E8E8;
}
.section1,.section3{
    position: relative;
}
.section2{
    position: relative;
    margin-left: 250px;
}
.section-title{
    margin-top: 20px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    text-align: left;
}
.sec-logo img{
    position: absolute;
    width: 250px;
    height: 250px;
    margin-top: -125px;
    margin-left: 240px;
}
.section2 .sec-logo img{
    margin-left: 364px;
}

.sec-des1{
    margin-top: 10px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    width: 580px;
    text-align: left;
}
.sec-des2{
    margin-top: 10px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    width: 731.02px;
    text-align: left;
}
.sec-des3{
    margin-top: 10px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    width: 731.02px;
    text-align: left;
}
.learn-m{
    margin-top: 10px;
    width: 180px;
    height: 36px;
    border: solid 1px #FFFFFF;
    border-radius: 30px;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
}
.learn-m img{
    width: 40px;
}
.learn-m-arr{
    width: 80px;
}
.learn-m:hover{
    scale: 1.02;
}