.page8-container {
    background-color: rgba(246, 59, 59, 1);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px;
    position: relative;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="rgba(255, 211, 178, 1)"><circle cx="20" cy="20" r="18"  fill="rgba(255, 211, 178, 1)"/></svg>'), auto;

  }
  
  .title-page8 {
    margin-top: 10rem;
    top: 199px;
    left: 131px;
    width: 556px;
    height: 171px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    line-height: 109%;
    text-align: start;
    background: linear-gradient(180deg, rgba(255, 211, 178, 0.4) 0%, rgba(243, 212, 184, 0.4) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: 5rem;

  }
  
.subtitle-page8{
    width: 442px;
    height: 42px;
    left: 117px;
    top: 437px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: start;
    color: #FCF8F6;
    margin-top: 50px;
    margin-left: 5rem;
}

.page8-right {
  top: 159px;
  left: 720px;
  position: absolute; /* Add position: absolute to position it based on top and left */
  display: flex;
  justify-content: flex-end;
  

}

.comp1,
.comp2,
.comp3 {
  width: 800px;
}

.comp-name {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 109%;
/* identical to box height, or 44px */

color: #FFFFFF;

opacity: 0.9;
}

.comp-review {
  color: #FFFFFF;
  font-size: 24px;
  opacity: 0.9;
  font-weight: 500;
}
.page8-arrbtn{
  position: absolute;
  margin-top: 150px;
  margin-right: 3px;
}







