.main-container {
  background-color: #F2F2F2;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}
.page1-content{
    margin-left: 163px; /* This will push it to the right */
    margin-right: auto; /* Adjust the value as needed */
  
}
.head1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 110px;
  color: #DF2323;
  line-height: 180px;
  left: 159px;
}
.head2-anm{
  padding-left: 60px;
  padding-right:60px;
  height: 192px;
  background: #FE7272;
  border-radius: 100px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 110px;
  color: rgba(31, 31, 33, 1);
}
.typing-cursor{
  display: inline-block;
  background-color: transparent;
  margin-left: 0.1rem;
}

.head3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 110px;
  color: #DF2323;
  line-height: 180px;
  left: 196px;
}
.talk-btn{
  position: absolute;
  top: 85%;
  left: 75%;
  width: 200px;
  height: 47px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px rgba(223, 35, 35, 1);
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  padding: 0 18px 0 18px;
  gap: 8px;
}
.talk-btn :hover{
  background-color: #FE7272;
}