.main-container {
    background-color: black;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="rgba(226, 85, 79, 1)"><circle cx="20" cy="20" r="18"  fill="rgba(226, 85, 79, 1)"/></svg>'), auto;
  }
  
  .head {
    font-family: 'Poppins', sans-serif;
    color: #BA8F6F;
    font-weight: 700;
    font-size: 450px;
    margin-bottom: -5rem; /* Adjusted the margin to be very small */

}
.head #bg1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 450px;
  margin-bottom: -5rem; 
  text-align: center;

  overflow: hidden;
}
.head #elem{
  display: inline-block;
}

.head #elem h1{
  font-family: 'Poppins', sans-serif;
  display: inline;
  font-weight: 700;
  font-size: 450px;
  
}

  
  .content {
    margin-top: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    background: linear-gradient(180deg, #A78063 0%, #483F39 100%);
    -webkit-background-clip: text; /* Apply the gradient to the text */
    background-clip: text;
    color: transparent; 
}
  
.icon-scroll {
  margin-top: 16rem;
  position: relative;
  font-size: var(--fontsize-xs);
  border: solid 2px #BA8F6F;
  display: flex;
  border-radius: 21px;
  justify-content: center;
  width: 42px;
  height: 84px;
  bottom: 184px;
  /* padding: 5px 0; */
}

.icon-scroll--active {
  width: 44px;
  height: 84px;
  position: absolute;
  border: solid 3px #BA8F6F ;
  border-radius: 21px;
  transform: translateY(-2px);
  margin: 0px;
  padding: 0px;
  animation: activeIconScrollAnimation 2s ease-out infinite;

}

.icon-scroll__dot {
  width: 6px;
  height: 12px;
  border-radius: 5px;
  border: solid 2px #BA8F6F;
  position: relative;
  transform-origin: center;
  animation: scrollAnimation 2s linear infinite;
}

.icon-scroll__lines--right{
  position: absolute;
  transform: translateX(13px);
  height: 100%;

}
.icon-scroll__lines--left{
  position: absolute;
  transform: translateX(-13px) translateY(4px) rotate(180deg);
  height: 100%;

}

.icon-scroll_lines_1{
  position: absolute;
  transform: rotate(-90deg);
  top: 25%;
  height: 2px;
  border-radius: 6px;
  background-color: #BA8F6F;
  animation: linesIconScrollAnimation 2s ease-in infinite;
}

.icon-scroll_lines_2{
  position: absolute;
  top: 50%;
  height: 2px;
  border-radius: 6px;
  background-color: #BA8F6F;
  animation: linesIconScrollAnimation 2s ease-in infinite;
}
.icon-scroll_lines_3{
  position: absolute;
  top: 75%;
  height: 2px;
  transform: rotate(90deg);
  border-radius: 6px;
  background-color: #BA8F6F;
  animation: linesIconScrollAnimation 2s ease-in infinite;
}

@keyframes scrollAnimation {
  0% {
      opacity: 0;
      top: 10px;
  }
  40%{
      opacity: 1;
  }
  70%{
      top: 40px;
      scale: 1;
      opacity: 1;
  }
  100%{
      top: 50px;
      scale: 0.1;
      opacity: 0;
  }
}

@keyframes activeIconScrollAnimation {
  0% {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  100%{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes linesIconScrollAnimation {
  0% {
      width: 0px;
  }
  60%{
      width: 0px;
  }
  70%{
      width: 8px;
  }
  100%{
      width: 0px;
      transform: translateX(20px) ;
  }
}

  