.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black; /* Replace with your desired background color */
  }
  
  .logo img {
    width: 150px; /* Adjust the logo size as needed */
    height: 64px;
    background: transparent;
  }
  
  .menu-icon img {
    width: 32px; /* Adjust the menu icon size as needed */
    cursor: pointer;

    height: 40.55px;
  }