.page5-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  position: relative; /* Set the position to relative */
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="rgba(226, 85, 79, 1)"><circle cx="20" cy="20" r="18"  fill="rgba(226, 85, 79, 1)"/></svg>'), auto;

}
  .stable {
    font-family: 'Poppins', sans-serif;
    color: rgba(186, 143, 111, 1);
    font-weight: 700;
    font-size: 200px;
    margin-bottom: 20px;
  }

  .stacks {
    top: 0;
    position: relative; /* Set the position to relative for absolute child positioning */
    width: 100%; /* Set the width to 100% of the container */
    height: 100%; /* Set the height to 100% of the container */
    
  }
  .floating-stack {
    width: 250px;
    height: 250px;
    position: absolute;
    background: linear-gradient(180deg, rgba(254, 81, 81, 1), rgba(132, 38, 40, 1));
    opacity: 0.7;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 6s ease-in-out infinite;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    font-size: 50px;
  }
  

  

  