.page3-container {
  background-color: #F2F2F2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.section-heading {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 90px;
  height: 192px;
  background-color: #FE7272;
  color: #1F1F21;
  font-weight: 700;
  line-height: 192px; /* Set line-height equal to height for vertical centering */
  border-radius: 100px;
  padding: 0 20px; /* Add padding for better visual appeal */
  display: inline-block; /* Allow for width to fit content */
  margin-bottom: 20px;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden;
}

/* Animation for scrolling effect */
.section-heading::before {
  content: attr(data-text); /* Set the content attribute to the actual text */
  animation: scrolling 10s linear infinite; /* Adjust the duration as needed */
  display: inline-block;
}

@keyframes scrolling {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Add styles for the Page3 right section */
.page3-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.aboutus {
  width: 136px;
  height: 47px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px #000000;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  padding: 0 18px 0 18px;
  gap: 8px;
}

.stable-des {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  max-width: 600px;
  text-align: center;
}

.movable-des {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movable1 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #444;
  margin-bottom: 15px;
  max-width: 600px;
  text-align: center;
}

.findmore-btn {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #FE7272;
  height: 56px;
  width: 250px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 30px;
  padding: 30px 30px;
}

.findmore-btn img {
  margin-left: 15px;
  
}

.findmore-btn:hover {
  background-color: #FF5757;
}

/* Responsive styles */
@media (max-width: 768px) {
  .page3-right {
    padding: 10px;
  }

  .section-heading {
    font-size: 60px;
    height: 150px;
  }

  .aboutus {
    font-size: 20px;
  }

  .movable1 {
    font-size: 16px;
  }

  .findmore-btn {
    font-size: 14px;
    padding: 8px 15px;
  }
}

