.page3-container {
  background-color: #F2F2F2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.section-heading {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 90px;
  height: 192px;
  width:4000px;
  background-color: #FE7272;
  color: #1F1F21;
  font-weight: 700;
  line-height: 192px; 
  border-radius: 100px;
  padding: 0 20px; 
  display: inline-block; 
  margin-bottom: 20px;
  white-space: nowrap; 
  overflow: hidden;
  animation: section-heading 10s infinite linear
}



@keyframes section-heading  {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-20%);
  }
}

.section-heading:hover {
  animation: section-heading 10s infinite linear;
}

.page3-right {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 800px;
}

.aboutus {
  width: 136px;
  height: 47px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px #000000;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  padding: 0 18px 0 18px;
  gap: 8px;
}
.aboutus:hover{
  background-color: #FE7272;
}
.stable-des {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #012033;
  margin-bottom: 20px;
  max-width: 580px;
  line-height: 36px;
  text-align: left;
}

.movable-des {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: #012033;
  line-height: 36px;
  font-size: 20px;
  font-weight: 400;
  max-width: 600px;
  text-align: left;
}

.movable {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #444;
  margin-bottom: 15px;
  max-width: 600px;
}

.findmore-btn {
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  background-color: #FE7272;
  height: 56px;
  width: 250px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 30px;
  padding: 30px 30px;
  justify-content: center;
}
.findmore-btn:hover {
  background-color: #F2F2F2 ;
  box-shadow: 0 2px 4px #00000040;
}
.page3-arr{
  margin-left: 10px;
}
@media screen and (max-width: 480px){
  .section-heading{
    display: flex;
    margin-top: 10px;
    height: 130px;
    width:1500px;
    font-size: 50px;
    line-height: 100px;
    align-items: center;
    justify-content: center;

  }
  .page3-right {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
  }
}

