*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
window.scroll{
  top: 2500;
  left: 0;
  behavior: 'smooth';
};


window.scrollBy{ 
  top: 100;
  left: 0;
  behavior: 'smooth' ;
}
