.page5-container{
  background-color: #F2F2F2;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  padding-bottom: 50px;
}
.seeall-btn{
    margin-top: 10px;
    margin-left:1240px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    background-color: #FE7272;
    height: 56px;
    width: 250px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 30px;
    padding: 30px 30px;
    gap: 10px;
}
.seeall-btn:hover {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px #00000040;
}
.page5-cont{
    position: relative;
    margin-top: 30px;
    margin-left: 220px;
    background-image: url("./cmgimg.jpg");
    height: 750px;
    width: 1250px;
    background-size: cover;
}
.page5-title{
    margin-left: 300px;
    margin-top: 150px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 160px;
    line-height: 36px;
    opacity: 0;
}
.page5-des{
    margin-left: 300px;
    margin-top: 70px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    opacity: 0;
}
.viewproj-btn{
    margin-top: 360px;
    margin-left: 980px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    background-color: #FE7272;
    height: 56px;
    width: 230px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 30px;
    padding: 30px 30px;
    gap: 10px;
}
.viewproj-btn:hover {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px #00000040;
}
.page5-box{
    margin-top: 250px;
    position: absolute;
    background-color: #FE7272;
    width: 490px;
    height: 560px;
    border-radius: 10px;
    padding-left: 20px;
}
.whatwedid-btn{
    margin-top: 40px;
    width: 136px;
    height: 38px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    padding: 0 18px 0 18px;
    box-shadow: 0 2px 4px #00000040; 
  }
  .whatwedid-btn:hover{
    background-color: #FE7272;
    box-shadow: 0 2px 4px #00000040;
  }
  .page5-container .open-brand {
    margin-top: 20px;
    display: flex;
    color: #012033;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    gap: 20px;
  }
.box-des{
    margin-top: 20px;
    width: 419px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
}
.boxmid-s{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}
.whitebox{
    background-color: #FFFFFF;
    height: 36px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    line-height: 36px;
    padding: 0 15px 0 15px;
    box-shadow: inset 0 4px 4px 0 rgba(223, 35, 35, 0.25);
}
.box-cont{
    margin-top: 20px;
}
.box-brand{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #012033;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
}