.page2-container {
  background-color: #F4DAC1;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="rgba(226, 85, 79, 1)"><circle cx="20" cy="20" r="18"  fill="rgba(226, 85, 79, 1)"/></svg>'), auto;

}

.title {
  font-family: 'Unbounded', sans-serif;
  margin-top: 3rem;
  background: linear-gradient(180deg, rgba(186, 143, 111, 1) 0%, rgba(138, 94, 62, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 20px;
}

.description {
  font-family: 'Unbounded', sans-serif;
  color: #A78063;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;

}

.graphs {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  position: absolute;
}

.graph {
  flex: 1;
  display: flex;
  margin-left: 3rem;
  height: 600px;
  flex: 0 0 420px;
  background: linear-gradient(rgba(254, 81, 81, 1) 0%,rgba(65, 0, 2, 1) 100%);
  border-radius: 60px;
  justify-content: center;
  padding-top: 1.5rem;
  transform: translateY(0);
  opacity: 0.6;
  transition: transform 0.5s, opacity 0.5s;
  transform-style: preserve-3d;
  z-index: -1; 
}

.graph-name {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: rgba(242, 41, 41, 1);
  padding: 0;
  
}

.graph:hover {
  transform: translateY(-20px);
  opacity: 0.8;
}
